body {
  background-color: rgb(244, 248, 249);
  font-family: Helvetica;
  width: 800px;
  font-size: 20px;
}
.tweet {
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(225, 232, 237);
  border-radius: 10px;
}
.avatar {
  float: left;
  margin: 30px 15px 10px 30px;
}
.follow {
  float: right;
  margin: 30px 20px;
  background-image: url(/users/luisacherrera/prework/code/labs/lab-html-css-tweet-clone-master/starter-code/img/twitter-logo.jpg);
  background-repeat: no-repeat;
  background-origin:content-box;
  background-position: left;
  background-color: rgb(255, 255, 255);
  background-size: 25px;
  border: solid 1.5px rgb(85, 172, 238);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 23px;
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(85, 172, 238);
}
.nickname {
  line-height: 2px;
  margin: 40px 10px;
}
.emoticon {
  height: 25px;
}
.validation {
  height: 25px;
}
.main {
  margin: 10px 10px 10px 30px;
  line-height: 5px;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
#user {
  color: rgb(101, 116, 127);
}
time {
  color: rgb(101, 116, 127);
  font-size: 20px;
}
.bottom {
  margin: 20px 10px 10px 30px;
}
button {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(105, 120, 130);
  font-size: 20px;
}
.bottom-buttons {
  height: 15px;
  padding: 0px 5px 0px 0px;
}
